@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 54, 56, 46;
  --background-start-rgb: 223, 203, 166;
  --background-end-rgb: 223, 203, 166;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #36382e; 
}

::-webkit-scrollbar-thumb {
  background: #f06449; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d65036; 
}

/* Hide scrollbar for clean aesthetic in some containers if needed */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
